@keyframes slide-left {
    from {right:0px;}
    to {left: 0px;}
  }

.skills-section{
    width: 33%;
}

.skills-section .card{
    width: 70%;
    justify-self: end;
    position: relative;
    /* right: 0px; */
    margin: 0% auto;
    padding: 1rem 2rem;
    min-height: unset;
    animation-name: slide-left;
    animation-duration: 2s;
    transition: width .3s;
    text-align: center;
}

.skills-section .card:hover{
    width: 100%;
}

.card .sectionHeader{
    position: relative;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: .35rem;
}

    .card .sectionHeader::after{
        position: absolute;
        content: "";
        height: 1px;
        background-color: #E94F3740;
        left: 40%;
        right: 40%;
        bottom: 0;
        transition: right .3s, left .3s;
    }

    .card:hover .sectionHeader::after{
        right: 0;
        left: 0;
    }