@keyframes slide-left {
    from {right:0px;}
    to {left: 0px;}
  }

.skills-section{
    width: 33%;
}

.skills-section .skills.card{ 
    flex: 1 0 45%;
    justify-self: end;
    position: relative;
    margin: 0% auto;
    padding: 1rem 2rem;
    min-height: unset;
    animation-name: slide-left;
    animation-duration: 2s;
    transition: width .3s;
    text-align: center;
}

.experience.card{
    margin: 0% auto;
    padding: 1rem 2rem;
    min-height: unset;
    animation-name: slide-left;
    animation-duration: 2s;
    transition: width .3s;
    margin-bottom: 2rem;
    font-size: .8rem;
}

.card .sectionHeader{
    position: relative;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: .35rem;
}

    .card .sectionHeader::after{
        position: absolute;
        content: "";
        height: 1px;
        background-color: #E94F3740;
        left: 40%;
        right: 40%;
        bottom: 0;
        transition: right .3s, left .3s;
    }

    .card:hover .sectionHeader::after{
        right: 0;
        left: 0;
    }         
    
        .experience.card .sectionHeader::after{
            position: absolute;
            content: "";
            height: 1px;
            background-color: #E94F3740;
            left: 0%;
            right: 83%;
            bottom: 0;
            transition: right .5s, left .3s;
        }

        .experience.card:hover .sectionHeader::after{
            right: 0;
            left: 0;
        }         

.job-title{
    font-size: .8rem;
    font-weight: lighter;
    font-style: italic;
    text-align: right;
    display: inline-block;
    position: relative;
    right: 0;
}