.sectionHeader{
  position: relative;
  font-size: 3em;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  color: #20353A;
  margin-top: .5em;
  margin-bottom: 0em;
}
hr{
    margin-top: 0;
}

.portfolio-section{
  flex: 1 0 60%;
}

.dark.portfolio-section .sectionHeader{
  color: #E0F2F1;
}