.navbar{
    background-color: #04575D;
    padding: 1.5em;
    transition: .2s background-color linear;
}
    .dark.navbar{
        background-color: #263238;
    }

.navbar-brand img{
    transform: scale(1.45);
}

.navbar-brand .image-crop{
    width: 50px;
    height: 50px;
    overflow:hidden;
}

.navbarName{
    color: #364f6b;
    font-size: 30px;
    vertical-align: middle;
}
    nav.dark .navbarName {
        color: rgb(255, 255, 255);
    }

nav a.button{
    border: none;

}
nav.dark a.button, nav a.button{
    background-color: transparent;
    color: white;
    border: none;
    position: relative;
}

nav.dark a.button::after{
    content: "";
    background-color: white;

}

nav a.button:hover, nav.dark a.button:hover{
    transition: .2s linear all;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    color: white;
}


/* .colored-banner{
    position: absolute;
    width: 100%;
    background-color: #04575D;
    height: 14em;
} */